body
{
    line-height: 1.2em;
}

table
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    background: #fff;
    margin: 45px;
    border-collapse: collapse;
    text-align: left;
}
table th
{
    font-size: 14px;
    font-weight: normal;
    height: 80px;
    color: #039;
    -webkit-transform: rotate(320deg);
    -moz-transform: rotate(320deg);
    -o-transform: rotate(320deg);
    writing-mode: rl-tb;

    padding: 2px 8px 2px 1px;
    border-bottom: 2px solid #6678b1;

}
table td
{
    border-bottom: 1px solid #ccc;
    padding: 6px 8px;
}
tbody{
    text-align: right;
}
caption{
    font-size: 14px;
    font-weight: normal;
    text-decoration:underline;
}
.negativevalue{
    background-color:#FDD;
}
.positivevalue{
    background-color:#FDD;
}
.normalcell{
    color:#669;
}
